// COLOR VARS
// ==============================
$color-primary:#4a4e52;
$color-secondary: #F1CC4C;
$color-tertiary: #6e7174;

$color-body-text: #fff;
$color-body-bg: #4a4e52;
$color-btn-border-hover: #F1CC4C;
$color-btn-border: #F1CC4C;
$color-btn-pill-active: #BEA04B;
$color-btn-pill-dark: darkgoldenrod;
$color-btn-pill-goldlight: #F0D77C;
$color-btn-pill-hover: #F3D66E;
$color-btn-pill-hoverLight-bg: #8D7E53;
$color-btn-pill-hoverLight-p: #F4CC61;
$color-btn-pill-i: #4C4F53;
$color-btn-pill-inactive-back-border: white;
$color-btn-pill-outline: #F1CC4C;
$color-btn-pill-silver-active: #8C8155;
$color-btn-pill-silver-disabled: #8C8155;
$color-btn-pill-white-p: #BCBFC7;
$color-btn-round-action-active: #F5D67C;
$color-btn-round-action-border: #F1CC4C;
$color-btn-round-action-hover: #F5D67C;
$color-btn-text: #000000;
$color-darkgoldenrod: #8A7B45;
$color-gold: #F1CC4C;
$color-golddark: #C1A43E;
$color-goldenrod: #D4B443;
$color-goldlight: #F3D66E;
$color-gray: #6e7174;
$color-gray2: #717271;
$color-lightgray: #E4E8ED;
$color-lightgray2: #dfe3e8;
$color-mocha: #8A7B45;
$color-mochalight: #897B4A;
$color-white: #fff;
