// COLOR VARS
// ==============================
$primary:#3F4347;
$secondary: #F4CC61;
$tertiary: lightgray;
$btnText: #000000;
$btn-border: gold;
$btn-border-hover: gold;
$gold: #F1CC4C;
$body-bg: #4A4E52;
$body-text: #fff;
$mediumGrey: #6E7174;

$gold2: #F5D67C;

$action-btn-outline: gold;
$btn-round-pill: gold;
$btn-round-hover: #F5D67C;
$btn-pill-dark: darkgoldenrod;
$btn-pill-i: #4C4F53;
$btn-pill-inactive-back-border: white;

$btn-pill-hover: #F3D66E;
$btn-pill-hoverLight-bg: #8D7E53;
$btn-pill-hoverLight-p: #F4CC61;
$btn-pill-click: #BEA04B;
$btn-pill-goldlight: #F0D77C;
$btn-pill-silver: #8C8155;
$btn-pill-white-p: #BCBFC7;

$darkgoldenrod: #8A7B45;
$darkgray: #3F4347;
$gold: #F1CC4C;
$golddark: #C1A43E;
$goldenrod: #D4B443;
$goldlight: #F3D66E;
$gray: #66696C;
$lightgray: #E4E8ED;
$mochalight: #897B4A;
$mocha: #8A7B45;
