@import '../main';
* {
	color: $color-body-text;
}
.title-carousel{
  display: flex;
  width: 250px;
  background-color: $color-tertiary;
  justify-content: space-around;
  color: $color-white;
  margin: 5px auto;
  border-radius: 5px;
}
#title{
	font-weight: 600;
	letter-spacing: .2rem;
}
.arrow{
  cursor:pointer;
}
